name: Lint Spelling

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - main

jobs:
  lint-spelling:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: ">=17"

      - name: Install dependencies
        run: npm ci

      - name: Run lint:spelling
        run: npm run lint:spelling
